* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.hide {
    display: none;
}

body {
    width: 100vw;
    height: 100vh;
}

main {
    width: 100%;
    height: 100%;
    display: flex;
    gap: 24px;
    flex-direction: column;
    align-items: center;
}

header {
    width: 100%;
    height: 14%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: linear-gradient(to left, yellow, rgb(255, 133, 2));
    border-bottom: 1px solid black;
    border-radius: 0px 0px 8px 8px;
}


.logo {
    font-size: 1.2em;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 50%;
    width: 50px;
    height: 50px;
    background: black;
    color: white;
    text-align: center;
    line-height: 2.5;
    box-shadow: 4px 4px 4px black;
}

.menu {
    display: flex;
    gap: 16px;
}

.menu a {
    text-decoration: none;
    color: black;
    padding: 4px;
    font-size: 1.15em;
    text-align: center;
    border-radius: 4px;
}


.menu a:hover {
    transition: .7s;
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 1.15em;
    background: rgb(255, 133, 2);
}