* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.hide {
    display: none;
}

html, body {
    width: 100vw;
    height: 100vh;
}

main {
    width: 100%;
    height: 100%;
    display: flex;
    gap: 24px;
    flex-direction: column;
    align-items: center;
}

header {
    width: 100%;
    height: 14%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: linear-gradient(to left, yellow, rgb(255, 133, 2));
    border-bottom: 1px solid black;
    border-radius: 0px 0px 8px 8px;
    position: fixed;
}


.logo {
    font-size: 1.2em;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 50%;
    width: 50px;
    height: 50px;
    background: black;
    color: white;
    text-align: center;
    line-height: 2.5;
    box-shadow: 4px 4px 4px black;
}

.menu {
    display: flex;
    gap: 16px;
}

.menu a {
    text-decoration: none;
    color: black;
    padding: 4px;
    font-size: 1.15em;
    text-align: center;
    border-radius: 4px;
}


.menu a:hover {
    transition: .7s;
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 1.15em;
    background: rgb(255, 133, 2);
}

.form-container {
    margin-top: 136px;
    width: 60%;
    height: 48vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border: 1px solid black;
    border-radius: 16px;
    background: linear-gradient(to left, yellow, rgb(255, 133, 2));
}


.input-container {
    width: 80%;
    height: 70%;
    border-radius: 16px;
    background: linear-gradient(to left, rgb(208, 208, 2), rgb(225, 118, 3));
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 24px;
}

.input {
    width: 86%;
    height: 14%;
    font-size: .9em;
    text-align: center;
    border: none;
    border-radius: 16px;
}

.button-container {
    width: 80%;
    height: 15%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.button {
    border: none;
    padding: 14px;
    border-radius: 16px;    
    font-size: .95em;
    transition: .5s;
}


#button-confirm:hover {
    background: rgb(2, 207, 2);
    color: white;
}

#button-clear:hover {
    background: rgb(255, 0, 0);
    color: white;
}

.actual-list-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 24px;
    width: 80%; 
    height: 30%;
    overflow-y: auto;
    border: 1px solid black;
    border-radius: 24px;
}

.product-component {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border: 1px solid black;
    border-radius: 24px;
    background: linear-gradient(to left, yellow, rgb(255, 133, 2));
    text-align: center;
    width: 306px;
    height: 216px;
    margin-bottom: 24px;
}


.datas-container {
    display: flex;
    flex-direction: column;
    gap: 12px;
    text-align: center;
    width: 80%;
    height: 70%;
    border: 1px solid black;
    border-radius: 24px;
    background: linear-gradient(to left, rgb(208, 208, 2), rgb(225, 118, 3));    
}

.datas-container h2 {
    background: black;
    color: white;
    border-radius: 24px 24px 0px 0px;
    overflow: hidden;
}

.buttons-act-container {
    display: flex;
    gap: 12px;
    justify-content: space-around;
    align-items: center;
    width: 80%;
    height: 20%;
}

.buttons-act {
    border: none;
    padding: 10px;
    border-radius: 24px;
}

.button-act-edit:hover  {
    transition: .75s;
    color: white;
    background-color: green;
}

.button-act-remove:hover {
    transition: .75s;
    color: white;
    background-color: red;
}