<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stoq-IN-Casa - Gerencie o estoque do seu lar!</title>
    <link rel="stylesheet" href="../styles/index.styles.css">
</head>
<body>
    <div class="container">
        <h1>Gerenciamento de Produtos</h1>
        
        <!-- Formulário para adicionar/editar produtos -->
        <div id="form-container">
            <input type="text" id="product-name" placeholder="Nome do produto"/>
            <input type="number" id="product-quantity" placeholder="Quantidade"/>
            <input type="date" id="product-expiration-date" placeholder="Data de Validade"/>
            <button id="add-btn">Adicionar Produto</button>
        </div>
        
        <!-- Lista de produtos -->
        <div id="product-list">
            <h2>Produtos</h2>
            <ul id="products">
                <!-- Produtos serão listados aqui -->
            </ul>
        </div>
    </div>
    <script src="script.js"></script>
</body>
</html>
