<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stoq-IN-Casa</title>
    <link rel="stylesheet" href="../styles/style.css">
</head>
<body>
    <main>
        <header>
            <div class="logo">
                StIC
            </div>
            <nav class="menu">
                <a href="#">HOME</a>
                <a href="../pages/list-manager.html">LIST MANAGER</a>
                <a href="#3">PERFIL</a>
            </nav>
        </header>
        <div class="form-container">
            <div class="input-container">
                <input type="text" placeholder="Nome do Produto" class="input" id="name-input" required/>
                <input type="number" placeholder="Quantidade" class="input" id="quantity-input" required/>
                <input type="date" placeholder="Data de Validade" class="input" id="expiration-date-input" required/>
            </div>
            <div class="button-container">
                <button class="button" id="button-confirm">
                    Confirmar
                </button>
                <button class="button" id="button-clear">
                    Apagar
                </button>
            </div>
        </div>
        <div class="actual-list-container">
            <div class="lists"></div>
            <div class="hide" id="list-buttons">
                <button class="button-create-list">
                    Criar lista
                </button>
                <button class="button-delete-all-products">
                    Deletar todos os itens
                </button>
            </div>
        </div>
    </main>
</body>
<script src="../scripts/main.js"></script>
</html>