<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stoq-IN-Casa</title>
    <link rel="stylesheet" href="../styles/list-manager.css">
</head>
<body>
    <main>
        <header>
            <div class="logo">
                StIC
            </div>
            <nav class="menu">
                <a href="../pages/index.html">home</a>
                <a href="#">list manager</a>
                <a href="#3">perfil</a>
            </nav>
        </header>
        <section class="list-container">

        </section>
    </main>
</body>
</html>